.search-form {
  background: grey;
  width: 80%;
  margin: 0 auto 1vw auto;
  color: white;
  padding: 1rem;
  text-align: start;
  border: 0.1rem solid white;
}

.search-inputs,
#errorMessage {
  width: 80%;
  margin: .6rem auto;
  padding: .5rem;
  border: 0.25rem solid white;
  box-shadow: 2.5px 5px #c0aeae;
}

.search-form h1 {
  font-size: 1.25rem;
  margin: .25rem 0;
  max-width: 60%;
}

label,
input {
  font-size: 1.25rem;
  margin: .75rem 0;
}

select {
  margin: .75rem 0;
  font-size: 1.25rem;
}

input {
  width: 80%;
  padding: 0.2rem;
}

#errorMessage {
  padding: 1rem;
  color: rgb(255, 208, 0);
  background: grey;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.author-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 1.2rem auto;
  padding: .6rem;
  border: 0.25rem solid white;
  box-shadow: 2.5px 5px #c0aeae;
}

.author-row button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
